<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2143783_iq6z4ey5vu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 使用CDN -->
    <!-- <% for (const i of cdnCss) { %>
      <link href="<%= i %>" rel="stylesheet"></link>
    <% } %>
    <% for (const i of cdnJs) { %>
      <script src="<%= i %>" defer></script>
    <% } %> -->
  </head>
  <body>
    <div id="app">
      <!-- app-html -->
    </div>
    <div id="dialog"></div>
    <script type="module" src="/src/main.js"></script>
    <!-- <script type="module" src="/src/entry-client.js"></script> -->
    <!-- qq登录 -->
  </body>
</html>
